.wrapper {
    height: 97vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.container>h1 {
    font-size: 5vmin;
    font-family: sans-serif;
    color: red;
}

.game-info {
    font-size: 3vmin;
    font-weight: 700;
    font-family: monospace;
}

.player-info {
    margin-right: 10px;
    color: coral;
}

.win-count {
    margin-left: 10px;
    color: blueviolet;
}

.boxes {
    padding: 30px 0;
    width: 60vmin;
    height: 60vmin;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.box {
    border: none;
    border-radius: 10px;
    color: rebeccapurple;
    background-color: lightblue;
    font-size: 10vmin;
    cursor: pointer;

    transition: transform 0.4s ease-out;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
}

.box:active {
    transform: scale(0.9);
}

.box:disabled {
    transform: scale(1);
}

.box:hover {
    background-color: rgb(179, 223, 240);
}

.box.win {
    color: yellow;
}

.btn {
    padding: 5px;
    border: 1px solid #FEE0E0;
    border-radius: 8px;
    font-size: 2.5vmin;
    font-weight: 700;
    background-color: #d9e8ff;
    cursor: pointer;

    transition: transform 0.4s ease-out;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
}

.btn:active {
    transform: scale(0.9);
}

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
}

.btn.start {
    margin-right: 5px;
    color: blueviolet;
}

.btn.reset {
    margin-left: 5px;
    color: coral;
}