:root {
    --bg: #EDDDD4;
    --border: #7FC6A4;

    --hour: #5e6472;
    --minute: #4d9de0;
    --second: #f24236;

    --dark: #01110a;
    --light: #fff;
}

.wrapper {
    width: 100%;
    height: 97vh;
    background-color: var(--light);
    color: var(--dark);

    text-align: center;

    transition: background .3s, color .3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Analog Clock Face */

.analog-container {
    margin: 0 auto;
    border: 12px solid var(--border);
    width: min(60vmin, 300px);
    background-color: var(--bg);
    border-radius: 50%;

    aspect-ratio: 1;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    inset: 0;
}

.numbers div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;

    transform: rotate(calc(var(--i) * 30deg));
}

.numbers div span {
    display: inline-block;
    transform: rotate(calc(var(--i) * -30deg));
    margin-top: .4rem;
}

.center-point {
    width: 5%;
    height: 5%;
    border: 2px solid var(--second);
    border-radius: 50%;
    background-color: var(--minute);
    z-index: 1;
}

.hand {
    margin: 0;
    border: none;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
    /* transition: transform 0.4s ease-in; */
}

.hour {
    width: 2%;
    height: 28%;
    background-color: var(--hour);
}

.minute {
    width: 1.2%;
    height: 32%;
    background-color: var(--minute);
}

.second {
    width: 1%;
    height: 36%;
    background-color: var(--second);
}

/* Digital Clock Text */

.digital-container {
    margin-top: 1rem;
}

.time {
    font-size: 2rem;
    font-weight: 600;
}

.day-month {
    font-size: .75rem;
    color: #888;
    text-transform: uppercase;
}

.date {
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;

    background-color: var(--dark);
    color: var(--light);
}

/* Theme Switch Button */

.btn {
    margin-top: 1.2rem;
    padding: .6rem 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: var(--dark);
    color: var(--light);
}

.btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    background-color: var(--second);
}


/* ------Themes------- */

.wrapper.theme-image .analog-container {
    --border: transparent;
    background: url('images-icons/clock-face.png') no-repeat center center/125%;
}

.wrapper.theme-image .numbers {
    visibility: hidden;
}

/* ------------------- */

.wrapper.theme-light {
    --bg: #fff;
    --border: #fff;
    --hour: #01110a;
    --minute: #01110a;
    --second: #f24236;
}

/* ------------------- */

.wrapper.theme-dark {
    --bg: #01110a;
    --border: #01110a;
    --hour: #fff;
    --minute: #fff;
    --second: #f24236;
    --dark: #fff;
    --light: #01110a;
}