.wrapper {
    width: 100%;
    height: 97vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    max-width: 80%;
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    text-align: center;
    font-family: sans-serif;
}

.todo-container h1 {
    color: orange;
    font-weight: bold;
}

.input-section>input {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#add-btn {
    background-color: orangered;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#add-btn:active {
    transform: scale(0.9);
}


#task-list {
    max-height: 60vh;
    padding: 10px 10px;
    background-color: #ddd;
    overflow-y: auto;

    font-weight: bold;
}

#task-list>li {
    margin: 8px 0;
    padding: 8px 35px 8px 10px;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;

    text-align: start;
    white-space: normal;
    overflow-wrap: break-word;
    position: relative;
    transition: background-color 0.2s ease;
}

#task-list>li.completed {
    text-decoration: line-through;
    color: #888;
    background-color: #f0f0f0;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: orangered;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.remove-btn:active {
    transform: scale(0.9);
}