* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: rgb(255, 29, 67);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counter {
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter>div {
    margin-top: 10px;
    font-family: monospace;
    font-size: 1rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.counter>.values {
    margin-top: 30px;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}