.wrapper {
    width: 100%;
    height: 97vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: darkmagenta;

    /* needed for offset properties */
    position: relative;
}

.image {
    width: 30vmax;
    display: block;
    filter: drop-shadow(10px 15px 10px black);
    transform: translateX(-400%);
    transition: transform 0.5s ease;
}

.image:nth-of-type(even) {
    transform: translateX(400%);
}

.wrapper>.image:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.image.show {
    transform: translateX(0);
}

@media screen and (max-width: 700px) {
    .image {
        width: 40vmax;
    }
}