.wrapper {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.timer-container {
    background: #fff;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.timer {
    margin-bottom: 30px;
    color: #d62828;

    position: relative;
}

.timer>svg {
    width: 75%;
    height: 50%;
    transform: rotate(-90deg);
}

.timer>svg.work {
    transform: rotate(-90deg) scaleY(-1);
}

.timer>svg>circle {
    stroke: green;
    stroke-linecap: round;
    stroke-dasharray: calc(2 * 3.14 * var(--r));
    stroke-dashoffset: 0;

    transition: stroke-dashoffset 1s linear, stroke 0.4s ease;
}

.timer>svg>circle.work {
    stroke: orange;
}

.timer>.time-text {
    font-size: 3rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#status {
    color: lightblue;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.timer-inputs>input {
    margin: 0px 5px 10px 5px;
    padding-left: 10px;
    width: 40%;
    height: 30px;
    border: 2px solid red;
    border-radius: 5px;
}

.timer-inputs>input:disabled {
    display: none;
}

.controls button {
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #3f51b5;
    color: #fff;
    transition: background 0.3s;
}

.controls button:hover {
    background: #2c3e9c;
}