/* concept: perfectly ovelapping front and back images by making adjectments in there sizes */

.wrapper {
    /* size for back image */
    width: 100%;
    height: 97vh;
    background: #000000 url(images-icons/01.jpg) center center/cover;
    background-blend-mode: luminosity;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: background-image 0.4s ease-in;
}

.image-slider {
    width: 60vw;
    height: 60vh;

    position: relative;
    overflow: hidden;

    border: 1px solid black;
    border-radius: 60px;

    box-shadow: 0px 0px 20px 0px black;
}

.slide {
    /* making front image size same as the back image size */
    width: 99vw;
    height: 97vh;

    background: lightblue center center/cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;

    transition: opacity 0.4s ease;
}

.active-slide {
    opacity: 1;
    z-index: 1;
}

.marker-container {
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    align-items: center;
    column-gap: 10px;
}

.marker-container>li {
    list-style: none;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 4px solid white;
    cursor: pointer;
}

.marker-container .active-marker {
    background-color: white;
    border-color: red;
    transform: scale(1.15);
    transition: background-color 0.5s, border-color 0.5s, transform 0.5s;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 20px;

    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .btn {
        width: 35px;
        height: 35px;
    }

    .marker-container li {
        width: 8px;
        height: 8px;
        border-width: 2px;
    }
}