/* prevents the vertical scrolling */
* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    position: relative;

    /* this can also remove vertical and horizontal scrollbars */
    /* overflow: hidden; */

    /* can also used to make loading center instead of left right*/
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* this removes vertical and horizontal scrollbars */
    display: block;

    filter: blur(30px);
}

.loading {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: rgb(255, 255, 255);

    filter: opacity(1);
    filter: drop-shadow(2px 2px 4px black);
}